body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: -2px; /* Move down by 2 pixels */
  font-size: 80%;

  /* Add white background and additional padding */

  padding-bottom: 20px;
}


header h1 {
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke: 1.5px #000;
  font-size: 500%;
  margin: 0;
  margin-left: 240px;
  position: relative;
  z-index: 5;
   text-shadow: 0 0 20px rgba(0, 0, 0, 1.5), 2px 2px 35px rgba(0, 0, 0, 1.5); /* Add the gray shadow */
}


nav {
  position: relative;
  z-index: 2;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  padding: 10px;
  text-align: center;
  margin-top: 0; /* Move down by 350 pixels */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 220%;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

nav ul li:hover a {
  color: #000000;
  background-color: #ffffff;
}

nav ul li:hover::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #ffffff;
  z-index: -1;
}

main {
  padding: 40px;
  margin-top: 250px; 
  font-size: 105%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
   font-size: 100%;
}

p {
   font-size: 110%;
  }


.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  object-fit: cover;
  transition: transform 0.7s ease-in-out;
  outline: 4px solid #fff;
  position: absolute;
  top: 9%;
  left: 3%;
  z-index: 20;
}

.profile-image:hover {
  transform: scale(1.25);
}

.full-width-image {
  width: 100%;
  height: auto;
}

.social-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-content: center;
  align-items: flex-start;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.social-icon {
  display: inline-block;
}

.social-icon img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.7s ease-in-out;
}

.social-icon img:hover {
  transform: scale(1.25);
}

